---
import { getCollection } from "astro:content";
import BlogPost from "../../components/essays/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("essays");
---

<BaseLayout>
  <div class="space-y-6">
    {
      allPosts.map((post) => (
        <BlogPost url={`/essays/${post.id}/`} postMeta={post.data} />
      ))
    }
  </div>
</BaseLayout>
