---
const { title, url, post } = Astro.props
console.log(post)
---

<div class="space-x-6">
  <span class="text-gray-500">{post.data.pubDate.toLocaleDateString()}</span>
  <a class="underline hover:decoration-rose-500" href={url}>{title}</a>
</div>



