---
import {formatDate} from "../../utils/support";
const {postMeta, url} = Astro.props
---

<div class="flex gap-6 mb-1">
    <span class="">{formatDate(postMeta.publishTime)}</span>
    <a class=" underline" href={url}>{postMeta.title}</a>
</div>





