@import "tailwindcss";
@import "./variables.css";
@import "./prose.css";

@plugin '@tailwindcss/typography';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.prose{
    max-width: 768px;
}
html{
    background-color: var(--bg-color);
    color: var(--text-color);
}