@import "tailwindcss";
@import "./variables.css";

@plugin '@tailwindcss/typography';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.prose {
  max-width: 768px;
}
html {
  font-family:
    "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
