:root {
    --bg-color: #fdfcf3;
    --text-color: #222;
    --text-color-primary: #b80029;
    --text-color-secondary: #555;
    --link-color: #65847e;

    /*代码相关*/
    --color-code-inline: #ff496b;
    --color-code-inline-bg: #e8e9e6;
}

.dark {
    --bg-color: #000;
    --text-color: #fff;
    --text-color-primary: #b80029;
    --text-color-secondary: #aaa;
    --link-color: #65847e;

    /*代码相关*/
    --color-code-inline: #ff496b;
    --color-code-inline-bg: #232322;
}