---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<p>一个脱离不了低级趣味的人的寻常日子里的惨淡经营。</p>
	<p>如果你觉得有意思，可以订阅。</p>

	<h1 class="text-rose-600 font-bold text-xl">最新发布</h1>
	<span>balabala</span>
</BaseLayout>
