---

import EssaysLayout from "../../layouts/EssaysLayout.astro";
import {getCollection} from "astro:content";
import BlogPost from "../../components/essays/BlogPost.astro";

const allPosts = await getCollection("essays");
console.log(allPosts)
---

<EssaysLayout>
  <h1>随笔归档</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <div>
      {allPosts.map((post) =><BlogPost url={`/essays/${post.id}/`} post={post} title={post.data.title} />)}
  </div>
</EssaysLayout>