---
import { getCollection } from "astro:content";
import BlogPost from "../../components/essays/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("essays");

const groupByYear = Object.entries(
  allPosts.reduce((acc, post) => {
    const year = new Date(post.data.publishTime).getFullYear();
    if (!acc[year]) acc[year] = [];
    acc[year].push(post);
    return acc;
  }, {}),
).sort(([a], [b]) => b - a);

console.log(allPosts[1]);
---

<BaseLayout>
  <div class="space-y-6">
    {
      groupByYear.map(([year, posts]) => (
        <div class="space-y-3">
          <h2 class="text-lg font-extrabold text-rose-600">{year}</h2>
          {posts.map((post) => (
            <BlogPost url={`/essays/${post.id}/`} postMeta={post.data} />
          ))}
        </div>
      ))
    }
  </div>
</BaseLayout>
