---
import LightNav from "./LightNav.astro";
---

<footer class="">
  <div class="justify-between items-center mb-5 mt-10 text-sm min-md:flex">
    <div class="text-gray-500 text-xs font-light">&copy; 2025 林深时觉寒</div>
    <LightNav />
  </div>
</footer>
