---

---

<div class="space-x-3 text-xs font-light">
  <a href="/">主页</a>
  <a href="/essays/">随笔</a>
  <a href="/words/">说说</a>
  <a href="/notes/">技术笔记</a>
  <a href="/about/">关于</a>
  <a href="/friends/">友链</a>
</div>
