---
---
<div
    class="prose prose-p:text-base prose-p:leading-7 dark:prose-invert prose-a:break-words prose-code:break-words prose-img:mx-auto prose-img:rounded-md prose-inline-code:text-rose-400 prose-inline-code:before:content-none prose-inline-code:after:content-none prose-img:sm:w-[90%] m-w-[768px]">
  <slot/>
</div>