---

---

<div
  class="prose prose-stone dark:prose-invert prose-base max-sm:prose-sm
    prose-p:leading-7
    prose-h2:before:content-['#']
    prose-h2:before:mr-1.5
    prose-h2:before:text-[#b80029]
    prose-h2:text-[var(--link-color)]
    prose-h2:text-lg
    prose-h3:before:content-['##']
    prose-h3:before:mr-1.5
    prose-h3:before:text-[#b80029]
    prose-h3:text-[var(--link-color)]
    prose-h3:text-base
    prose-a:break-words
    prose-img:mx-auto prose-img:rounded-md
    prose-img:sm:w-[90%]
    prose-code:break-words
    prose-code:text-rose-400 prose-code:before:content-none prose-code:after:content-none
    prose-pre:overflow-x-auto prose-pre:rounded-lg prose-pre:shadow-lg
    m-w-[768px]"
>
  <slot />
</div>
