---
import AwesomeToc from "./AwesomeToc.astro";
import LightNav from "./LightNav.astro";

const {headings} = Astro.props;
---

<div class="absolute top-4 right-20 max-md:hidden">
    <LightNav/>
</div>

<AwesomeToc headings={headings}/>
