---
import { getCollection } from "astro:content";
import BlogPost from "../../components/essays/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatTime } from "../../utils/support";

const allPosts = await getCollection("essays");

const res = await fetch('http://8.140.229.190:5230/api/v1/memo', {
  method: 'GET',
  headers: {
    'Content-Type': 'application/json',
    'Authorization': 'Bearer '
  }
})

const data = await res.json()
console.log('data: ', data)
---

<BaseLayout>
  <div class="space-y-6">
    {
      allPosts.map((post) => (
        <div class="flex flex-col gap-2">
          <div class="border">
            <p>{post.data.title}</p>
            <p>发布于：{formatTime(post.data.publishTime)}</p>
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
