---
import { getCollection } from "astro:content";
import BlogPost from "../../components/essays/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatPast, formatTime } from "../../utils/support";
import { marked } from "marked";
import Prose from "../../components/Prose.astro";
import { SiteConfig } from "../../ilvme.config";

const allPosts = await getCollection("essays");

const res = await fetch(`${import.meta.env.MEMOS_API_URL}/memos`, {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
    Authorization: `Bearer ${import.meta.env.MEMOS_TOKEN}`,
  },
});

const data = await res.json();
const { memos, nextPageToken } = data;
console.log("数据: ", memos[1]);
---

<BaseLayout>
  <div class="space-y-6">
    {
      memos.map((memo) => (
        <div class="flex flex-col gap-2 ">
          <div class="border rounded-2xl p-4">
            <p class="text-sm text-gray-400">{formatPast(memo.createTime)}</p>
            <Prose>
              <article set:html={marked(memo.content)} />
            </Prose>
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
